@mixin sidebar-style($width, $position: relative) {
  // 侧边栏
  .app-sidebar {
    height: 100%;
    transition: wdith 0.28s;
    width: $width;
    display: flex;
    flex-direction: column;
    .sidebar-logo {
      height: 50px;
      display: flex;
      justify-content: center;
      // 空间不足换行
      flex-wrap: wrap;
      i {
        font-size: 34px;
        font-weight: 700;
        line-height: 50px;
        color: #303133;
      }
      h3 {
        font-size: 20px;
        line-height: 50px;
        font-weight: 700;
        color: #303133;
      }
    }
    .vertical-menu {
      flex: 1;
      // 高度不能超过，不然会把顶部的logo遮住了
      max-height: calc(100% - 50px);
      // 超出不隐藏，滚动条效果
      overflow: auto;
    }
  }

  // 主体内容区域
  .app-main {
    .app-nav {
      .hamburger {
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 16px;
        .hamburger-icon {
          display: inline-block;
          vertical-align: middle;
          width: 20px;
          height: 20px;
          &.is-active {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

#layout {
  height: 100%;
  position: relative;
  overflow: hidden;
  .layout-container {
    height: 100%;
    display: flex;
    $width: $base-left-menu-width;
    @include sidebar-style($width);
  }
}
